body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

#cherries{
    grid-column: 1;
    grid-row: 1/5;
    width: 100%;
}

#grey{
    background-color: rgb(174, 174, 174);
    grid-column: 2;
    grid-row: 1/5;
    width: 100%;
    height: 100%;
}

#title{
    grid-column: 1/3;
    grid-row: 1/3;
    font-size: 150px;
}

#word{
    grid-column: 2;
    grid-row: 2/5;
    font-size: 75px;
    color: darkred;
    letter-spacing: 12px;
}