body{
    background-color: pink;
}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

h1{
    align-content: center;
    grid-column: 2;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

#love{
    grid-column: 1;
}

#hearts{
    grid-column: 2;
}

.cupid{
    grid-column: 3;
}