@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rye&display=swap');

body{
 background-color: #f7eade;
 font-size: 22px;
}

header{
    background-color: #0b3d22;
}

#content{
    max-width:1600px;
    margin: 0 auto;
}

.logo{
    width: 80px;
}

nav{
    text-align: center;
    font-family: "Roboto", Helvetica, sans-serif;
}

nav a:hover{
    background-color: #f7eade;
    color: black;
}

nav a{
    text-align: center;
    color: #f7eade;
    text-decoration: none;
}

#hero-img{
    width: 1600px;
}

#hero-msg h1{
    text-align: center;
}

#hero-msg h4{
    text-align: center;
}

.home{
    color: #42271c;
    font-family: "rye", Georgia, serif;
    font-size: 2em;
}

.below_home{
    color: #42271c;
    font-family: "Roboto", Helvetica, sans-serif;

}

.shop{
    text-decoration: none;
    color: #0b3d22;
    font-family: "Roboto", Helvetica, sans-serif;
    font-size: 18px;

}

.shop:hover{
    background-color: #0b3d22;
    color: #f7eade;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
    color: #42271c;
    font-family: "Roboto", Helvetica, sans-serif;
}

#background {
    height: 725px;
    background-color: #0b3d22;
}

.msg{
    color: #42271c;
}

.msg h2{
    font-family: "rye", Georgia, serif;
}

.msg p{
    font-family: "Roboto", Helvetica, sans-serif;
    font-size: 1.5em;
}

footer{
    background-color: #42271c;
    font-family: "Roboto", Helvetica, sans-serif;
}

footer p {
    font-size: 1.2em;
    color: #f7eade;
}

footer p a{
    color: #f7eade;
    text-decoration: none;
}

footer p a:hover {
    text-decoration: none;
    color: #0b3d22;
    background-color: #f7eade;

}    